
{{#if snippets }}
    <div class="row">
        {{#each snippets}}
                <div class="card blue-grey brown lighten-3, z-depth-5">
                    <div class="card-content white-text">
                        <span class="card-title">{{this.name}}</span>
                            <pre><code id="snippet-text">{{this.snippet}}</code></pre>
                            <a class="waves-effect waves-teal btn-flat" href="/update/{{id}}">update</a>
                        <form class="delete-button" action="/delete/{{id}}" method="post">
                            <button class="waves-effect waves-teal btn-flat" type="submit" name="name">DELETE</button>
                            <span class="right">created by {{this.username}}</span>
                        </form>
                    </div>
                    <p>
                </div>
        {{/each}}
    </div>
{{/if}}




